---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";

const blog = await getCollection("blog");
---

<Layout title="Blog" description="Ruben Arakelyan’s blog">
  <section class="mb-6">
    <h1 class="text-4xl mb-6">Blog</h1>
    {
      blog.toReversed().map((post) => (
        <BlogPostPreview
          homepage={false}
          url={"/blog/" + post.slug}
          title={post.data.title}
          excerpt={post.data.excerpt}
          date={post.data.date}
          tags={post.data.tags}
        />
      ))
    }
  </section>
</Layout>
