---
import { createHash } from "crypto";
import { Image } from "astro:assets";

import FormattedDate from "./FormattedDate.astro";

interface Props {
  name: string;
  email: string | null;
  website: string | null;
  message: string;
  created_at: Date;
}

const hashed_email = Astro.props.email == null ? "0" : createHash("sha256").update(Astro.props.email.trim().toLowerCase()).digest("hex");
const { name, website, message, created_at } = Astro.props;
---

<article class="mb-6">
  <p class="mb-6 mr-6 float-left">
    <Image src=`https://gravatar.com/avatar/${hashed_email}?d=mp` width="80" height="80" alt="" />
  </p>
  <p>
    {website && <a href={website} target="_blank" rel="noopener noreferer nofollow ugc">{name}</a>}
    {!website && name}
  </p>
  <p class="text-sm">
    <FormattedDate date={created_at} />
  </p>
  <p class="mb-6 clear-left whitespace-pre-line">
    {message}
  </p>
  <hr>
</article>
