---
interface Props {
  homepage: boolean;
  url: string;
  name: string;
  description: string;
  affiliate: boolean;
}

const { homepage, url, name, description, affiliate } = Astro.props;
---

<section class="mb-6 p-6 border border-slate-200 h-card" itemscope itemtype="https://schema.org/Organization">
  <a class="no-underline hover:no-underline active:no-underline focus:no-underline no-external-icon" href={url} target="_blank" rel="noopener noreferer">
    {homepage &&
      <h3 class="text-2xl underline mb-1 p-name" itemprop="name">{name}{affiliate && <span aria-hidden="true">*</span>}</h3>
    }
    {!homepage &&
      <h2 class="text-3xl underline mb-1 p-name" itemprop="name">{name}{affiliate && <span aria-hidden="true">*</span>}</h2>
    }
    <p class="mb-2 text-sm underline u-url" itemprop="url">{url}</p>
    <p class="p-note" itemprop="description">{description}</p>
    {affiliate &&
      <p class="mt-2 text-sm">* This is an affiliate link, so I may earn a small commission if you sign up to the product or service by following this link.</p>
    }
  </a>
</section>
