---
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title} &middot; wackomenace</title>
    <meta name="generator" content={Astro.generator}>
    <meta name="description" content={description}>
    <meta property="og:type" content="website">
    <meta property="og:title" content=`${title} &middot; wackomenace`>
    <meta property="og:description" content={description}>
    <meta property="og:url" content={Astro.url}>
    <meta property="og:locale" content="en_GB">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/blog/rss.xml">
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/blog/atom.xml">
    <link rel="alternate" type="application/feed+json" title="JSON Feed" href="/blog/feed.json">
    <link rel="blogroll" type="application/xml" title="Ruben Arakelyan's blogroll" href="/blogroll/rubenarakelyan.opml">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="wackomenace">
    <meta name="application-name" content="wackomenace">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="sitemap" href="/sitemap-index.xml">
    <link rel="me" type="text/html" href="https://www.linkedin.com/in/rubenarakelyan/">
    <link rel="me" type="text/html" href="https://github.com/rubenarakelyan">
    <link rel="me" type="text/html" href="mailto:ruben@arakelyan.uk">
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body id="top">
    <p>
      <a href="#main-content">Skip to main content</a>
    </p>
    <nav>
      <a href="/">Home</a> |
      <a href="/about/">About</a> |
      <a href="/blogroll/">Blogroll</a> |
      <a href="/podroll/">Podroll</a> |
      <a href="/now/">/now</a> |
      <a href="/uses/">/uses</a> |
      <a href="/elsewhere/">Elsewhere</a> |
      <a href="/search/">Search</a>
    </nav>
    <main id="main-content">
      <slot />
    </main>
    <footer>
      <hr>
      <p>
        <a href="#top">&uarr; Back to top</a>
      </p>
      <p>
        © 2024&mdash;2025 <a href="mailto:ruben@arakelyan.uk">Ruben Arakelyan</a>. All work licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="license" aria-label="opens in a new tab">CC BY-SA 4.0</a> unless otherwise stated.
      </p>
      <p>
        <a href="/feeds/">Blog feeds</a> |
        <a href="/colophon/">Colophon</a> |
        <a href="/privacy/" rel="privacy-policy">Privacy policy</a> |
        <a href="/terms/" rel="terms-of-service">Terms and conditions</a> |
        <a href="/disclaimer/">Disclaimer</a> |
        <a href="https://github.com/rubenarakelyan/wackomenace.co.uk" target="_blank" aria-label="opens in a new tab">GitHub</a>
      </p>
      <p>
        <a href="https://xn--sr8hvo.ws/previous" target="_blank" aria-label="opens in a new tab">←</a> An <a href="https://xn--sr8hvo.ws" target="_blank" aria-label="opens in a new tab">IndieWeb Webring</a> 🕸💍 <a href="https://xn--sr8hvo.ws/next" target="_blank" aria-label="opens in a new tab">→</a> |
        <a href="https://www.websitecarbon.com/website/wackomenace-co-uk/" target="_blank" aria-label="opens in a new tab">&lt; 0.01g CO<sub>2</sub> per visit</a> |
        <a href="https://proven.lol/5d1311" target="_blank" aria-label="opens in a new tab">proven.lol/5d1311</a>
      </p>
      <p>
        Made with ❤️ in Cornwall.
      </p>
    </footer>
  </body>
</html>
