---
import "../styles/global.css";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const page_name = Astro.url.pathname.match(/^(\/[^\/]*)/g)![0];
const blog_post = Astro.url.pathname.match(/^\/blog\/.+/g);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{title} &middot; wackomenace</title>
		<meta name="generator" content={Astro.generator}>
		<meta name="description" content={description}>
		{blog_post &&
			<meta property="og:type" content="website">
			<meta property="og:title" content=`${title} &middot; wackomenace`>
			<meta property="og:description" content={description}>
			<meta property="og:url" content={Astro.url}>
			<meta property="og:image" content=`${Astro.url}/og.png`>
			<meta property="og:locale" content="en_GB">
		}
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/blog/rss.xml">
		<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/blog/atom.xml">
		<link rel="alternate" type="application/json" title="JSON Feed" href="/blog/feed.json">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
		<link rel="manifest" href="/images/favicons/site.webmanifest">
		<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/images/favicons/favicon.ico">
		<meta name="apple-mobile-web-app-title" content="wackomenace">
		<meta name="application-name" content="wackomenace">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap">
		<link rel="sitemap" href="/sitemap-index.xml">
		<link rel="me" type="text/html" href="https://github.com/rubenarakelyan">
		<link rel="me" type="text/html" href="https://www.linkedin.com/in/rubenarakelyan/">
		<link rel="me" type="text/html" href="https://bsky.app/profile/wackomenace.co.uk">
	</head>
	<body class="antialiased text-slate-600">
		<div class="mt-8 md:max-w-3xl md:mx-auto md:grid md:grid-cols-[200px_60ch]">
			<nav class="px-4">
				<a href="/">
					<svg width="29.548mm" height="29.548mm" viewBox="0 0 29.548 29.548" fill="none" xmlns="http://www.w3.org/2000/svg" class="mb-8">
						<path transform="scale(.26458)" d="m55.863-0.0019531c-1.8637 0-3.7284 0.7108-5.1504 2.1328l-2.834 2.834c-1.2 1.2-3.0009 1.565-4.5742 0.93164l-3.7129-1.5c-1.7907-0.72134-3.7969-0.70194-5.5742 0.052734-1.7773 0.75467-3.1816 2.1853-3.9043 3.9746l-1.2695 3.1504c-0.64534 1.5987-2.1965 2.6465-3.9219 2.6465h-3.3945c-4.02 0-7.2812 3.2605-7.2812 7.2832v4.0039c0 1.6947-1.0129 3.2299-2.5742 3.8926l-3.6895 1.5703c-3.7 1.572-5.4255 5.8475-3.8535 9.5488l1.3281 3.123c0.67467 1.588 0.31962 3.4259-0.90039 4.6445l-2.3984 2.4023c-2.844 2.8427-2.844 7.4509 0 10.295l2.832 2.8359c1.1973 1.2 1.5663 2.9989 0.93164 4.5723l-1.5 3.7168c-1.5053 3.7294 0.29994 7.9726 4.0293 9.4766l3.1484 1.2715c1.6 0.644 2.6465 2.1965 2.6465 3.9219v3.3906c0 4.0227 3.2612 7.2832 7.2812 7.2832h4.0078c1.696 0 3.2299 1.0142 3.8926 2.5742l1.5684 3.6914c0.75467 1.7773 2.1859 3.1803 3.9766 3.9043 1.792 0.72133 3.7969 0.70389 5.5742-0.05078l3.123-1.3281c1.5853-0.67467 3.4245-0.3183 4.6445 0.90039l2.3984 2.3984c1.3653 1.3653 3.2184 2.1328 5.1504 2.1328 1.9293 0 3.7818-0.76747 5.1484-2.1328l2.834-2.834c1.1987-1.2 3.0003-1.5663 4.5723-0.93164l3.7148 1.5c1.792 0.72268 3.7969 0.70194 5.5742-0.05273 1.7773-0.75467 3.183-2.1839 3.9043-3.9746l1.2695-3.1504c0.64534-1.5987 2.1979-2.6465 3.9219-2.6465h3.3945c4.0227 0 7.2832-3.2605 7.2832-7.2832v-4.0039c0-1.6947 1.0142-3.2299 2.5742-3.8926l3.6894-1.5703c3.7014-1.572 5.4249-5.8475 3.8516-9.5488l-1.3281-3.123c-0.67467-1.5867-0.31766-3.4265 0.90234-4.6465l2.3984-2.4004c1.3653-1.364 2.1328-3.2164 2.1328-5.1484 0-1.932-0.76614-3.7831-2.1328-5.1484l-2.834-2.832c-1.2-1.2013-1.565-3.0009-0.93165-4.5742l1.5-3.7168c0.72267-1.7907 0.70523-3.7949-0.05078-5.5723-0.75467-1.7773-2.1859-3.1822-3.9766-3.9062l-3.1504-1.2676c-1.5987-0.64534-2.6445-2.1985-2.6445-3.9238v-3.3906c0-4.0227-3.2605-7.2832-7.2832-7.2832h-4.0059c-1.6973 0-3.2305-1.0142-3.8945-2.5742l-1.5664-3.6875c-1.5733-3.7027-5.8494-5.4269-9.5508-3.8535l-3.123 1.3262c-1.588 0.67467-3.4265 0.319-4.6465-0.90234l-2.3984-2.3984c-1.422-1.422-3.2848-2.1328-5.1484-2.1328zm-5.127 20.783c3.4762-0.042188 7.0449 0.75166 10.148 2.4512 6.8 3.7227 11.431 10.643 10.08 18.58-1.3893 8.1681-6.8047 13.409-13.553 15.969 11.361 32.408 23.425 22.257 24.746 17.424 0.79867-2.92-0.1727-8.8272-5.0527-8.3379-0.69067 0.070667-2.1382-1.6203-0.29688-1.9043 8.0707-1.252 11.401 4.3794 10.838 10.469-0.79867 8.7001-20.929 23.114-33.381-16.676-4.8614 1.2013-10.156 1.1582-15.021-0.064453-1.8453 4.6454-3.6315 9.0245-4.9102 11.896-1.032 2.3213-6.4296 4.4771-5.3789 2.0957 1.4813-3.2347 4.1079-8.7706 6.9492-15.055-1.716-0.65867-3.3452-1.4667-4.8398-2.4414-1.2747-0.93734-1.3611-3.6735 0.017578-2.8828 2.0253 1.1587 4.0301 2.05 5.9941 2.7207 3.1174-6.9894 6.3389-14.611 8.4883-20.939l0.007813-0.019532c1.0387-2.624 3.3775-1.1613 4.4375 2.248 0.074667 0.24267 4.1836 12.539 4.1836 12.539 0.92801 2.092-1.6319 4.2036-2.1172 3.0742l-4.6074-14.465s-3.5094 9.2771-7.1348 18.479c13.369 2.9267 24.236-4.7391 25.916-14.09 1.292-7.1707-2.1344-12.206-7.0664-14.812-10.88-5.7534-18.465 0.032776-21.254 4.9941-0.92934 1.6507-2.2317-2.7863-1.2344-4.4023 2.7084-4.3875 8.2474-6.7793 14.041-6.8496z" stroke-width="1.3333" class="fill-slate-600 hover:fill-slate-900"></path>
					</svg>
				</a>
				<ul>
					<li class="mb-4 float-left md:float-none">
						<a class="no-underline" href="/">
							{page_name == "/" && <Fragment set:html={`&rarr;`} />} Home
						</a>
					</li>
					<li class="ml-4 mb-4 float-left md:float-none md:ml-0">
						<a class="no-underline" href="/blog">
							{page_name == "/blog" && <Fragment set:html={`&rarr;`} />} Blog
						</a>
					</li>
					<li class="ml-4 mb-4 float-left md:float-none md:ml-0">
						<a class="no-underline" href="/about">
							{page_name == "/about" && <Fragment set:html={`&rarr;`} />} About me
						</a>
					</li>
					<li class="ml-4 mb-4 float-left md:float-none md:ml-0">
						<a class="no-underline" href="/contact">
							{page_name == "/contact" && <Fragment set:html={`&rarr;`} />} Contact me
						</a>
					</li>
					<li class="mb-4 float-left clear-left md:float-none md:float-none md:border-t md:border-slate-200 md:pt-4">
						<a class="no-underline" href="/now">
							{page_name == "/now" && <Fragment set:html={`&rarr;`} />} What I’m doing now
						</a>
					</li>
					<li class="ml-4 mb-4 float-left md:float-none md:ml-0">
						<a class="no-underline" href="/uses">
							{page_name == "/uses" && <Fragment set:html={`&rarr;`} />} What I use
						</a>
					</li>
					<li class="ml-4 mb-4 float-left md:float-none md:ml-0">
						<a class="no-underline" href="/blogroll">
							{page_name == "/blogroll" && <Fragment set:html={`&rarr;`} />} Blogroll
						</a>
					</li>
					<li class="ml-4 mb-4 float-left md:float-none md:ml-0">
						<a class="no-underline" href="/elsewhere">
							{page_name == "/elsewhere" && <Fragment set:html={`&rarr;`} />} Elsewhere
						</a>
					</li>
					<li class="ml-4 mb-4 float-left md:float-none md:ml-0">
						<a class="no-underline" href="/colophon">
							{page_name == "/colophon" && <Fragment set:html={`&rarr;`} />} Colophon
						</a>
					</li>
					<li class="mb-4 float-left clear-left md:float-none md:float-none md:pt-4">
						<a class="no-underline px-4 py-3 border rounded-full border-slate-600 bg-slate-600 text-white hover:border-slate-900 hover:bg-slate-900 hover:text-white transition duration-300 ease-in-out" href="https://tfnd.uk/?r=wackomenace" target="_blank" rel="noopener noreferer">
							Hire me
						</a>
					</li>
				</ul>
			</nav>
			<main class="pt-4 px-4 max-w-prose clear-both md:clear-none md:pt-0">
				<slot />
			</main>
			<footer class="mt-8 px-4 text-sm md:col-span-2">
				<div class="mb-6 pt-4 border-t border-slate-200">
					<div class="md:mb-1 md:flex md:flex-wrap">
						<p>
								Copyright © 2024 Ruben Arakelyan
						</p>
						<p class="md:ml-4 md:pl-4 md:border-l md:border-slate-200">
							All work licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferer">CC BY-SA 4.0</a> unless otherwise stated
						</p>
					</div>
					<div class="md:mb-1 md:flex md:flex-wrap">
						<p>
							<a href="/feeds">Blog feeds</a>
						</p>
						<p class="md:ml-4 md:pl-4 md:border-l md:border-slate-200">
							<a href="/privacy">Privacy policy</a>
						</p>
						<p class="md:ml-4 md:pl-4 md:border-l md:border-slate-200">
							<a href="/terms">Terms and conditions</a>
						</p>
						<p class="md:ml-4 md:pl-4 md:border-l md:border-slate-200">
							<a href="/disclaimer">Disclaimer</a>
						</p>
					</div>
					<div class="md:flex md:flex-wrap">
						<div id="wcb" class="carbonbadge"></div>
						<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" is:inline defer crossorigin="anonymous"></script>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
